html,body,h1,h2,h3,h4,h5 
{
  font-family: "Raleway", sans-serif
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  clear: both;
  background-color: #1f6d66f3;
  color: white;
  padding: 5px 20px;
  list-style-position: inside;
  
}
  header{
    background: url("../../../assets/images/image4.jfif");
    
  }
  li{
    float:left;
  }
  #mySidebar
  {
    box-shadow: 10px 10px 5px grey;
  }