<link rel="stylesheet" type="text/css" ng-href="/style.css">
<header class="w3-container w3-sand w3-center" style="padding:10px 16px">
  <h1 class="w3-margin"><strong>Lightbulb</strong></h1>  
</header>
  <div class="w3-bar w3-teal w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a routerLink = "" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>

    <a (click)="logout()"  class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">
              Logout
    </a>
   
  </div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">

    <div class="w3-col s8 w3-bar">
      <span><strong>{{user}}</strong></span><br>

    </div>
  </div>
  <hr>
  <div class="w3-container">

  </div>
  <div class="w3-bar-block">
    <a [href]="" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a routerLink="/student-login" routerLinkActive="active" class="w3-bar-item w3-button w3-padding "><i class="fa fa-users fa-fw"></i>  Dashboard</a>
    <a routerLink="/student-login" routerLinkActive="active" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Courses</a>

  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  
  <div *ngFor= "let list of listOfAssignedCourses">
  <div class="w3-row-padding w3-margin-bottom">
    
      <div class="w3-quarter">
        <div class= "w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>{{list.courseCode}}</h3>
          </div>
          <div class="w3-clear"></div>
          <a  [routerLink] = "['/student-course-home',list.id,user]" routerLinkActive="active"><h4>{{list.courseTitle}}</h4></a>
        </div>
      </div>
    </div>
    <br/>
    
    
  </div>



 
  <footer class="w3-center">
    <ul>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <br/>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
	  </ul>

  </footer>


</div>
