html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
header{
  background: url("../../../assets/images/image4.jfif");
  
}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  clear: both;
  background-color:#1f6d66f3;
  color: white;
  padding: 5px 20px;
  list-style-position: inside;
  text-align: center;
  
}
#mySidebar
  {
    box-shadow: 10px 10px 5px grey;
  }
#mainList
{
   padding-left: 30px;
}


li {
  float: left;
}



li a:hover {
  background-color: #111;
}
table, th, td {
  border: 1px solid black;
}