html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
footer{
    /* 
  
  
  height: 2.5rem;  */
  width: 100%;
  position: absolute;
  bottom: 0;
  clear: both;
  background-color: #4CAF50;
  color: white;
  padding: 5px 20px;
  list-style-position: inside;
  
}

table, th, td {
  border: 1px solid black;
}