html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  clear: both;
  background-color: #4CAF50;
  color: white;
  padding: 5px 20px;
  list-style-position: inside;
  
}
table, th, td {
  border: 1px solid black;
}
#mySidebar
  {
    box-shadow: 5px 10px 5px grey;
    padding-left: 0px;
  }
#mainList
{
   padding-left: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4CAF50;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}